@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin:0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* shared color */

.secondary-bg{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
}

.btn-bg-transparent{
    background: transparent;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    margin-left: 30px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-bg-transparent:hover{
    color:white;
    background-color: #FD6E0A;
    transition: .3s ease;
}

.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
    
}

nav ul li{
    list-style: none;
    margin-left:50px
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    
}

/* banner style */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content{
    max-width:580px;
   
}
.banner-greetings{
    
    font-size: 45px;
    font-weight: 600;
}



.banner-title{
    font-weight: bold;
    font-size: 85px;
    margin-top: 5px;
}

.banner-description{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    line-height: 30px;
    margin-top: 20px;
    
}

.btn-margin{
    margin-top: 30px;
}

.banner-profile-image{
    width:580px;
}


/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about */

.about{
    border-radius: 10px;
    margin: 130px 0px;
    padding: 130px 150px;
    text-align: center;
}

.about-content{
    border: 1px solid black;
    background-color: white;
    
    text-align: center;
    padding: 10px;
}

.section-m{
    margin: 30px 0px;
}

.about-items{
    display: flex;
    justify-content: space-between;
    
}



.item-title{
    color: #757575;
}
.item-description{
    font-weight: 700;
    color: #474747;
}